.loading {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
}

html {
  background-image: url(../../../images/back1.jpg);
  background-size: cover;
  //background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: transparent;
  height: 100%;
  overflow: auto;
}

.paymentSystemDiv {
  margin: 1%;
  padding: 2%;
  border-radius: 20px;
  border: solid;
  //width: 20px;
  background-color: white;
  display: inline-block;
}

.paymentSystemImg {
  width: 50px;
}

.peymentSystemImg {
  width: 100px;
}

//--exec node --inspect=0.0.0.0:9229
.customIconBtn {
  img {
    width: 24px;
    height: 24px;
  }
}
//
//.threeMainButtons{
//  width: 100%;
//  height: 40px;
//  margin:10px;
//  >span{
//    font-size: 24px;
//  }
//}

//.mainMenuButtons {
//  height: 36px !important;
//  padding: 0 !important;
//  > div {
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    > img {
//      height: 80%;
//    }
//  }
//}